form {
  margin-top: 40px;
}

fieldset {
  padding: 0;
  margin: 0 0 30px;
  border: 0;
  display: flex;
  flex-wrap: wrap;
}

fieldset > div {
  flex: 1;
  margin: 0 10px 10px 0;
  min-width: 48%;
}

fieldset div.full-width {
  min-width: 96%;
}

form div {
  display: inline-block;
  font-family: ECB, arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  margin-bottom: 15px;
  padding: 0px;
  position: relative;
  top: 0px;
  transition: all 200ms ease 0s;
  width: 100%;
}

div > label {
  all: unset;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  left: 8px;
  letter-spacing: 0px;
  opacity: 1;
  position: absolute;
  text-align: left;
  transform: translateY(-50%);
  padding: 2px 4px;
  transition: all 200ms ease 0s;
  top: 50%;
  font-style: italic;
}

div > input, 
div > .select-container {
  appearance: none;
  box-sizing: border-box;
  display: block;
  height: 44px;
  line-height: 1.25;
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 16px;
  border:solid 1px #fff;
  margin: 0px;
  padding: 16px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  background: transparent;
  color: #fff;
}

::placeholder { opacity: 0; transition: opacity .5s; color:#fff; }
*:focus::placeholder { opacity: 1; }

/* form div:focus-within label, */
.input-has-value label {
  font-size:14px;
  padding: 2px 10px 2px 5px;
  background:#ff7061;
  top:0;
  font-style: normal;
}

div.select-has-value {
  border: solid 1px #3a3a3a;
  -webkit-text-fill-color: #3a3a3a;
  background: #fff;
}

div.select-has-value select {
  color: #3a3a3a !important;
  -webkit-text-fill-color: #3a3a3a;
  background: #fff;
}

.input-has-value input {
  color: #3a3a3a !important;
  border: solid 1px #3a3a3a;
  -webkit-text-fill-color: #3a3a3a;
  background: #fff;
}

form .select-container {
  position: relative;
  z-index: 1;
}

form .select-container select {
  -webkit-font-smoothing: antialiased;
  display: block;
  cursor: pointer;
  width: 100%;
  margin: -3px 0 0 -6px;
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  font-style:italic;
  background: transparent;
}

form .select-container option {
  background-color: #ff7061;
}

textarea {
  padding: 10px;
  border: none;
  outline-color: #ff7061;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
}

textarea::placeholder { color:#7f7f7f; opacity: 1;}

input[type="file"] {
  padding: 10px;
}
input[type="checkbox"] {
  margin: 0 7px 0 0px;
  width: 16px;
  height: 16px;
}

form button {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  border: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 44px;
  letter-spacing: 1.5px;
  padding: 0px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms ease-in-out 0s;
  width: 99%;
}

form button span {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

form button:active {
  background-color: rgb(64, 59, 59); 
}

@media only screen and (max-width: 420px) {
  form {
    margin-top: 20px;
  }

  form div,
  div > label,
  div > input, 
  textarea,
  form .select-container select {
    font-size: 14px;
  }

  fieldset > div,
  fieldset div.full-width {
    min-width: 100%;
  }

  textarea, select {
    width: calc(100% - 20px);
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #3a3a3a;
  -webkit-text-fill-color: #3a3a3a;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}