#nomination, #nominationMessage {
  transition: all 1000ms ease-in-out 0s; 
  min-height: 490px;
  display: none;
}
#nomination {
  display: block;
}

#submitNomination {
  width: 100%;
}

#nominationMessage .submitting {
  text-align: center;
}
.spinner {
  margin: 50px 0 30px;
}

 .admin h1,
 .admin p {
   display: none;
 }
 .admin main {
   padding-top: 0;
 }
 #adminActionsContainer,
 .admin #submitNomination,
 .admin #over40,
 .admin #over40Label {
  display: none;
 }
 .admin #adminActionsContainer {
   display: block;
 }

 #adminActionsContainer .button {
  position: relative;
  top: 25px;
 }

 .admin #nominateForm {
   display: block!important;
 }
 